

<p>
  <strong>Ad:</strong>
  <%= @deneme.AD %>
</p>

<p>
  <strong>Soyad:</strong>
  <%= @deneme.SOYAD %>
</p>

<p>
  <strong>Yas:</strong>
  <%= @deneme.YAS %>
</p>

<p>
  <strong>Emaİl:</strong>
  <%= @deneme.EMAİL %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @deneme.ADRES %>
</p>

<%= link_to 'Edit', edit_deneme_path(@deneme),class:"btn btn-primary" %>
<%= link_to 'Back', denemes_path,class:"btn btn-primary" %>
 